body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('1322264.png'); 
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
}

.header {
    text-align: center;
}

.profile-image {
    display: block;
    margin: 0 auto;
    max-width: 150px;
    border-radius: 50%;
}

.contact-info {
    text-align: center;
    margin-top: 20px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}

.profile {
    font-size: 18px;
    margin-top: 20px;
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 5px;
}

.skills {
    font-size: 16px;
    margin-top: 20px;
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 5px;
}

.education {
    font-size: 16px;
    margin-top: 20px;
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 5px;
}
.references {
    font-size: 16px;
    margin-top: 20px;
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}



